<label>
  <input type="checkbox" class="ios-switch green tinyswitch analysis-switch" id="analysisSwitch"/>
  <div class='switch-container'>
    <div></div>
  </div>
  <p class='ios-switch-status'>
    {{#if status}}
      On
    {{else}}
      Off
    {{/if}}
  </p>
</label>
