<div id="youPublisher" class="video-box"></div>
<div id="otherPeople" class='other-people'></div>

<!-- <div class="empty-vid-container">
  <div class='empty-vid'>
    <div class="upper-left"></div>
    <div class="lower-left"></div>
    <div class="upper-right"></div>
    <div class="lower-right"></div>
  </div>
</div>
 -->
