.outter-container {
  vertical-align: top;
  padding: 25px 0;
}

// Video chat

.videochat-outter-container {
  width: 20%;
  display: inline-block;
}

.video-chat {
    text-align: center;
    display: inline-block;
    margin-bottom: 1em;
    // position: relative;
}

.video-box {
  margin: 1em 0;
}

.empty-vid-container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 159px;
  width: 100%;
  margin-top: 20px;
  .empty-vid {
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    .upper-left {
      top: -2px;
      left: -2px;
      border-top: 2px solid;
      border-left: 2px solid;
      position: absolute;
      width: 20px;
      height: 20px;
      border-color: #fff;
    }
    .lower-left {
      bottom: -2px;
      left: -2px;
      border-bottom: 2px solid;
      border-left: 2px solid;
      position: absolute;
      width: 20px;
      height: 20px;
      border-color: #fff;
    }
    .upper-right {
      top: -2px;
      right: -2px;
      border-top: 2px solid;
      border-right: 2px solid;
      position: absolute;
      width: 20px;
      height: 20px;
      border-color: #fff;
    }
    .lower-right {
      bottom: -2px;
      right: -2px;
      border-bottom: 2px solid;
      border-right: 2px solid;
      position: absolute;
      width: 20px;
      height: 20px;
      border-color: #fff;
    }
  }
}

.other-people {
  .OT_subscriber {
    margin: 1em 0;
  }
}

.OT_root {
  margin: 0;
}

// Board

canvas {
  position: absolute;
  &.diagram-mode {
    z-index: 1000;
  }
  &.flipTest {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    transform: scale(-1, -1);
    filter: FlipH;
  }
}

.board-outter-container {
  width: 79%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}

.board-inner-container {
  width: 60%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  input {
    display: inline-block;
    width: 80%;
    background: #eee;
    padding: 3px 5px;
    border: 1px solid #ccc;
  }
  .diagram-mode-container {
    .diagram-on {
      width: 40%;
      margin: 15px auto;
    }
    width: 90%;
    margin: 0 auto;
    .diagram-left {
      display: inline-block;
      width: 40%;
      vertical-align: top;
    }
    .diagram-right {
      width: 40%;
      display: inline-block;
      .colors-container {
        .green {
          background-color: #32CD32;
        }
        .red {
          background-color: #F44336;
        }
        .black {
          background-color: #212121;
        }
        a {
          padding: 5px 15px;
          margin: 5px;
          &.active {
            border: 3px solid black;
          }
        }
      }
    }
  }
}

.chess-board {
  display: inline-block;
  width: 512px;
  margin: 0 auto;
}

// Other
@font-face {
  font-family: 'ChessSansPiratf';
  src: url("/assets/fonts/ChessSansPiratf.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ChessSansPiratf.woff") format("woff"), url("/assets/fonts/ChessSansPiratf.ttf") format("truetype"), url("/assets/fonts/ChessSansPiratf.svg#lichess") format("svg");
}

.board-button {
  display: block;
  text-align: center;
  margin-top: 1em;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
  padding: 6px 11px;
  white-space: nowrap;
  font-weight: bold;
  background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
  color: #848484;
  text-decoration: none;
  text-shadow: 0px 1px 0px #FFF;

  &.submit {
    margin: 10px auto;
    cursor: pointer;
    font-size: 32px;
  }
}

.board-button.small {
  display: inline-block;
}

.other-outter-container {
  width: 33%;
  padding: 0 10px 10px 10px;
  display: inline-block;
  height: 512px;
  margin-left: 2%;
  .movelist {
    height: calc(50%);
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    position: relative;
  }
  .pgn {
    height: calc(100%);
    .index {
      width: 26px;
      text-align: center;
      font-size: 13px;
      height: 22px;
      display: inline-block;
      line-height: 22px;
      padding: 5px 0;
      background: #e0e0e0;
    }
    .move {
      position: relative;
      width: calc(50% - 14px - 13px);
      font-size: 17px;
      height: 24px;
      line-height: 22px;
      display: inline-block;
      padding: 4px 7px;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: 0.13s;
      transition-timing-function: initial;
      transition-delay: initial;
      font-family: 'ChessSansPiratf',sans-serif;
      text-decoration: none;
      color: #747474;
      &:hover {
        background-color: #e0e0e0;
        .fa {
          display: inline;
          color: black;
        }
      }
      &.active {
        color: #d85000;
        font-weight: bold;
      }
      &.empty {
        cursor: auto;
      }
      .fa {
        float: right;
        display: none;
      }
    }
    .variation {
      border-bottom: 1px solid #ccc;
      font-weight: lighter;
      background-color: #e0e0e0;
      font-weight: lighter;
      padding: 3px 5px 0 5px;
      &.border {
        border-top: 1px solid #ccc;
      }
      &.index:first-child {
        margin-left: 0;
      }
      .move {
        padding: 2px 2px;
        font-size: 12px;
        width: auto;
      }
      .index {
        font-size: 12px;
        width: auto;
      }
      .variation {
        border: none;
      }
      .comment {
        font-size: 10px;
      }
    }
    .comment {
      background-color: #e0e0e0;
      padding: 5px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      color: #707070;
      font: 12px 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    }
  }
  .details {
    text-align: center;
  }
  .analysis {
    padding: 10px;
    margin-bottom: 1em;
    background: #fff;
    height: calc(20%);
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    position: relative;
    color: #747474;
    h3 {
      text-align: center;
      font-weight: bold;
      margin: 0;
    }
    .depth-container {
      text-align: center;
    }
    .divider {
      width: 100%;
      margin: 0 auto;
    }
    .top-analysis {
      width: 90%;
      margin: 0 auto;

      p {
        margin: 5px 0;
      }
    }
    .analysis-container {
      label {
        font-weight: bold;
      }
    }
    .bestmove-container, .score-container {
      display: inline-block;
      width: 45%;
    }
  }
  .controls {
    text-align: center;
    a {
      padding: 10px;
      font-size: 22px;
      cursor: pointer;
    }
  }
  .game-controls {
    text-align: center;
    margin-top: 2em;
    .control-button {
      text-decoration: none;
      margin: 0 -3px;
      font-size: 12px;
      border-radius: 2px;
      border: 1px solid #e2e2e2;
      padding: 6px 13px;
      color: #848484;
      background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
      cursor: pointer;
      font-weight: bold;
      text-shadow: rgb(255, 255, 255) 0px 1px 0px;
      &:hover {
        border-color: #e2e2e2;
        background: rgb(248, 248, 248);
        background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(243, 243, 243, 1)));
        background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
        background: -ms-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
        background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
      }
      &:active {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12) inset;
      }
    }
  }
}

.uploader {
  width: 60%;
  padding: 25px;
  color: #707070;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  .uploader-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: #707070;
    &:hover {
      color: darken(#707070, 20%);
    }
  }
  h4 {
    font-size: 22px;
    margin: 0;
  }
  .explanation {
    text-align: center;
    margin: 40px 0;
    font-size: 16px;
  }
  label {
    font-size: 16px;
    font-weight: 200;
    span {
      display: block;
      margin-bottom: 15px;
    }
    textarea {
      height: 15em;
      width: 98%;
      display: block;
      padding: .5em;
      font-size: 16px;
    }
  }
  .rules {
    text-align: center;
    h5 {
      font-size: 20px;
      text-decoration: underline;
      margin: 5px 0;
    }
    ul {
      li {
        font-size: 18px;
        list-style-type: none;
      }
    }
  }
}

.note-form {
  text-align: center;
  h4 {
    font-size: 22px;
    margin: 0;
  }
  textarea {
    width: 90%;
    margin: 20px;
    height: 250px;
    font-size: 20px;
  }
}

.spare-container {
  margin: 0 auto;
  text-align: center;
}

.spare {
  width: 35%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.color-to-play {
  text-align: center;
  margin: 5px 0;
}

.castling-controls {
  text-align: center;
  strong {
    color: #707070;
  }

  div {
    padding: 5px 0;
  }
}

.duke-header {
  display: none;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5;
  text-transform: uppercase;
  &.on {
    display: block;
  }
  h2 {
    color: #001A57;
  }
}

.no-square {
  position: relative;
  display:inline-block;
  width: 64px;
  height: 64px;
  .black.king {
    background-image: url('/assets/images/pieces/cburnett/bK.svg');
  }
  .black.queen {
    background-image: url('/assets/images/pieces/cburnett/bQ.svg');
  }
  .black.rook {
    background-image: url('/assets/images/pieces/cburnett/bR.svg');
  }
  .black.bishop {
    background-image: url('/assets/images/pieces/cburnett/bB.svg');
  }
  .black.knight {
    background-image: url('/assets/images/pieces/cburnett/bN.svg');
  }
  .black.pawn {
    background-image: url('/assets/images/pieces/cburnett/bP.svg');
  }

  .white.king {
    background-image: url('/assets/images/pieces/cburnett/wK.svg');
  }
  .white.queen {
    background-image: url('/assets/images/pieces/cburnett/wQ.svg');
  }
  .white.rook {
    background-image: url('/assets/images/pieces/cburnett/wR.svg');
  }
  .white.bishop {
    background-image: url('/assets/images/pieces/cburnett/wB.svg');
  }
  .white.knight {
    background-image: url('/assets/images/pieces/cburnett/wN.svg');
  }
  .white.pawn {
    background-image: url('/assets/images/pieces/cburnett/wP.svg');
  }
}


.sandbox-mode {
  .cg-square.last-move {
    background-color: transparent;
  }
  .cg-square.selected {
    background-color: rgba(20, 85, 30, 0.5);
  }
}

.puzzle-form {
  width: 50%;
  margin: 0 auto;
  form {
    font-size: 14px;
  }

  input[type=text] {
    display: inline-block;
    line-height: 35px;
    padding: 0 15px;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    width: 45%;
    font-size: 14px;
  }

  input[type=submit] {
    display: inline-block;
    width: 28%;
    cursor: pointer;
    transition: background-color 0.13s;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 0 15px;
    line-height: 35px;
    outline: none;
    background-color: #2196F3;
    font-size: 14px;
    letter-spacing: 1px;

    &:hover {
      background-color: darken(#2196F3, 5%);
    }
  }
}
