@import 'ios-switch';
@import 'modal';
@import 'chessground-theme';
@import 'chessground';
@import 'chessboard';
@import 'sandbox';
@import 'sparetest';
@import 'room';
@import 'home';

body {
  background-color: #fff;
  // background-image: linear-gradient(to bottom, #d7d7d7 0%, #eeeeee 116px);
  color: #1a3652;
  // font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
}

a {
  color: rgb(51, 122, 183);
}

.hide {
  display: none;
}

.eee-container {
  background-color: #eee;
}

.content-container {
  width: 90%;
  margin: 0 auto;
}

