@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@import 'chessground-theme';
@import 'default-skin';
@import 'main-photoswipe-settings';
@import 'photoswipe';
@import 'ios-switch';
@import 'notify';
@import 'zero-clipboard';
@import 'tooltip';
@import 'modal';
@import 'chessground';
@import 'chessboard';
@import 'signup-login';
@import 'analyze';
@import 'examples';
@import 'room';
@import 'home';
@import 'faq';
@import 'userroom';
@import 'user';



body {
  background-color: #fff;
  color: #1a3652;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
}

a {
  color: rgb(51, 122, 183);
}

.hide {
  display: none;
}

.eee-container {
  background-color: #eee;
  min-width: 1200px;
}

.content-container {
  width: 90%;
  margin: 0 auto;
}

.content-container.profile {
  width: 70%;
  margin: 40px auto;
}

html.duke-html, body.duke-body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#world {
  display: none;
  &.on {
    display: block;
  }
}

.help-button {
  position: fixed;
  display: block;
  top: 66px;
  right: 0;
  a {
      color: #fff;
      background-color: #E64A19;
      display: block;
      line-height: 30px;
      height: 30px;
      font-weight: bold;
      padding-left: 10px;
      padding-right: 20px;
      margin-right: -10px;
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      // -webkit-transform: rotate(-90deg);
      // -moz-transform: rotate(-90deg);
      // -ms-transform: rotate(-90deg);
      // -o-transform: rotate(-90deg);
      // transform: rotate(-90deg);
      text-decoration: none;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1.5px;

      &:hover {
        margin-right: -7px;
        background-color: lighten(#E64A19, 5%);
      }
  }
}
