@import 'default-skin';
@import 'main-photoswipe-settings';
@import 'photoswipe';
@import 'ios-switch';
@import 'notify';
@import 'zero-clipboard';
@import 'modal';
@import 'chessground-theme';
@import 'chessground';
@import 'chessboard';
@import 'analyze';
@import 'sparetest';
@import 'room';
@import 'home';

body {
  background-color: #fff;
  // background-image: linear-gradient(to bottom, #d7d7d7 0%, #eeeeee 116px);
  color: #1a3652;
  // font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
}

a {
  color: rgb(51, 122, 183);
}

.hide {
  display: none;
}

.eee-container {
  background-color: #eee;
  min-width: 1200px;
}

.content-container {
  width: 90%;
  margin: 0 auto;
}

html.duke-html, body.duke-body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#world {
  display: none;
  &.on {
    display: block;
  }
}
