.clearfix-7da63 {
    clear: both;
}
.board-b72b1 {
    // border: 2px solid #404040;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 0;
}
.square-55d63 {
    display: inline-block;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    &.was-part-of-last-move {
        background-color: rgba(50,205,50,0.5);
    }
}
.white-1e1d7 {
    background-color: #F0D9B5;
    color: #bbb;
}
.black-3c85d {
    background-color: #B58863;
    color: #bbb;
}
.highlight1-32417, .highlight2-9c5d2 {
    background-color: rgba(50,205,50,0.5);
}
.notation-322f9 {
    cursor: default;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: absolute;
}
.alpha-d2270 {
    bottom: -20px;
    right: 0;
    left: 0;
    text-transform: uppercase;
}
.numeric-fc462 {
    top: calc(50% - 10px);
    left: -12px;
}

div.row-5277c img {
    vertical-align: bottom;
}
