.section {
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  .section-header {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    span {
      font-weight: 400;
    }
  }
}

.inner-section {
  width: 65%;
  margin: 0 auto;
}

.create-room {
  padding: 8px 15px;
  background-color: #2dcc70;
  text-decoration: none;
  color: white;
  font-size: 23px;
  font-weight: 200;

  &:hover {
    background-color: darken(#2dcc70, 10%);
    border: 5px #eee solid;
    transition: border .1s ease-in-out;
    -webkit-transition: border .1s ease-in-out;
    -moz-transition: border .1s ease-in-out;
  }
}

.homepage-nav {
  padding: 5px 50px;
  border-bottom: 1px solid #eee;
}

.homepage-header-container {
  text-align: center;
  .homepage-header {
    font-size: 36px;
    font-weight: 300;
  }
  .features {
    .features-container {
      margin: 25px 0;
      padding: 0;
      .feature {
        list-style: none;
        display: inline-block;
        vertical-align: top;
        margin: 0 auto;
        width: 24%;
        text-align: center;
        &.active {
          div {
            background-color: #3b7ebf;
            box-shadow: 0 0 0 8px #f2f2f2;
          }

          h4 {
            font-weight: bold;
            color: #333;
          }
        }
        div {
          background: #5490ca;
          border-radius: 100%;
          height: calc(90px + 25px);
          width: calc(90px + 25px);
          margin: 0 auto;
          transition: box-shadow .15s linear,background .15s linear;
          position: relative;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 75px 75px;
        }
        .coach {
          background-image: url('/assets/images/marketing/chess_coach_white.png');
          // background-image: url('/assets/images/marketing/chess_coach.png');
        }
        .analysis {
          background-image: url('/assets/images/marketing/fish_white.png');
        }
        .drawing-tools {
         background-image: url('/assets/images/marketing/pencil_white.png');
        }
        .more {
         background-image: url('/assets/images/marketing/heart_white.png');
        }
        h4 {
          font-size: 16px;
          line-height: 17px;
          font-weight: 300;
        }
      }
    }
  }
  .info-container {
    text-align: center;
    .infobox {
      background: #FAFAFF;
      color: #314147;
      font-size: 20px;
      margin: 30px auto;
      padding: 15px;
      text-align: left;
      line-height: 30px;
      font-size: 20px;
    }
  }
}

.create-room-container {
  text-align: center;
  margin: 50px 0;

  .see-how-it-works {
    margin: 20px;
    font-size: 16px;
  }
}

.we {
  header {
    padding: 40px 0;
    h2 {
      margin-bottom: 0;
      margin-top: 10px;
    }
    h4 {
      font-weight: 400;
      text-align: center;
      color: #1a3652;
      font-size: 18px;
      margin-bottom: 0;
      margin-top: 10px;
    }
  }

  aside {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    ol {
      list-style: none;
      margin: 10px auto;
      li {
        display: inline-block;
        width: 33%;
        figure {
          height: 50px;
          width: 50px;
          border-radius: 100%;
          text-align: center;
          line-height: 50px;
          position: relative;
          color: #333;
          font-size: 14px;
          border: #5490ca 3px solid;
          display: inline-block;
          margin: 5px;
          vertical-align: middle;
        }
        figcaption {
          display: inline-block;
          font-size: 18px;
          color: #374950;
          vertical-align: middle;
          width: 80%;
          text-align: left;
          font-weight: 300;
        }
      }
    }
  }

  .screenshot {
    text-align: center;
    background: url('/assets/images/marketing/screen_shot_one.png') no-repeat center center;
    height: 700px;
  }

  .caption {
    font-style: italic;
    text-align: center;
    margin: 0;
    font-size: 18px;
  }
}
