.room-nav {
  border-bottom: 1px solid #ccc;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  ul {
    margin: 0;
    li {
      list-style: none;
      display: inline-block;
      line-height: 50px;
      transition: all .15s ease;
      margin: 0;
      a {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: .3px;
        transition: all .15s ease;
        padding: 0 10px;
      }
    }
  }
}

.sandbox-mode-header {
  width: 79%;
  margin-left: 20%;
  margin-top: 15px;
  font-size: 18px;
  div {
    width: 60%;
    text-align: center;
  }
}
