.outter-container {
  vertical-align: top;
  padding: 25px 0;
}

// Video chat

.videochat-outter-container {
  width: 20%;
  display: inline-block;
}

.video-chat {
    text-align: center;
    display: inline-block;
    margin-bottom: 1em;
}

.video-box {
  margin: 1em 0;
}

.OT_root {
  margin: 0;
}

// Board

canvas {
  position: absolute;
  &.diagram-mode {
    z-index: 1000;
  }
}

.board-outter-container {
  width: 79%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}

.board-inner-container {
  width: 60%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  input {
    display: inline-block;
    width: 80%;
    background: #eee;
    padding: 3px 5px;
    border: 1px solid #ccc;
  }
  .diagram-mode-container {
    .diagram-on {
      width: 40%;
      margin: 15px auto;
    }
    width: 90%;
    margin: 0 auto;
    .diagram-left {
      display: inline-block;
      width: 40%;
      vertical-align: top;
    }
    .diagram-right {
      width: 40%;
      display: inline-block;
      .colors-container {
        .green {
          background-color: #32CD32;
        }
        .red {
          background-color: #F44336;
        }
        .black {
          background-color: #212121;
        }
        a {
          padding: 5px 15px;
          margin: 5px;
          &.active {
            border: 3px solid black;
          }
        }
      }
    }
  }
}

.chess-board {
  display: inline-block;
  width: 512px;
  margin: 0 auto;
}

// Other
@font-face {
  font-family: 'ChessSansPiratf';
  src: url("/assets/fonts/ChessSansPiratf.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ChessSansPiratf.woff") format("woff"), url("/assets/fonts/ChessSansPiratf.ttf") format("truetype"), url("/assets/fonts/ChessSansPiratf.svg#lichess") format("svg");
}

.board-button {
  display: block;
  text-align: center;
  margin-top: 1em;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
  padding: 6px 11px;
  white-space: nowrap;
  font-weight: bold;
  background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
  color: #848484;
  text-decoration: none;
  text-shadow: 0px 1px 0px #FFF;
}

.other-outter-container {
  width: 33%;
  padding: 0 10px;
  display: inline-block;
  height: 504px;
  margin-left: 2%;
  .pgn {
    height: calc(50%);
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    .index {
      width: 26px;
      text-align: center;
      font-size: 13px;
      height: 22px;
      display: inline-block;
      line-height: 22px;
      padding: 3px 0;
      background: #e0e0e0;
    }
    .move {
      position: relative;
      width: calc(50% - 14px - 13px);
      font-size: 17px;
      height: 22px;
      line-height: 22px;
      display: inline-block;
      padding: 3px 7px;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: 0.13s;
      transition-timing-function: initial;
      transition-delay: initial;
      font-family: 'ChessSansPiratf',sans-serif;
      text-decoration: none;
      color: #747474;
      &:hover {
        background-color: #e0e0e0;
      }
      &.active {
        color: #d85000;
        font-weight: bold;
      }
      &.empty {
        cursor: auto;
      }
    }
    .variation {
      border-bottom: 1px solid #ccc;
      font-weight: lighter;
      background-color: #e0e0e0;
      font-weight: lighter;
      padding: 3px 5px 0 5px;
      &.border {
        border-top: 1px solid #ccc;
      }
      &.index:first-child {
        margin-left: 0;
      }
      .move {
        padding: 2px 2px;
        font-size: 12px;
        width: auto;
      }
      .index {
        font-size: 12px;
        width: auto;
      }
      .variation {
        border: none;
      }
    }
  }
  .analysis {
    padding: 10px;
    margin-bottom: 1em;
    background: #fff;
    height: calc(25%);
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    position: relative;
    h3 {
      text-align: center;
      font-weight: bold;
      margin: 0;
    }
    .depth-container {
      text-align: center;
    }
    .divider {
      width: 100%;
      margin: 0 auto;
    }
    .top-analysis {
      width: 90%;
      margin: 0 auto;

      p {
        margin: 5px 0;
      }
    }
    .analysis-container {
      label {
        font-weight: bold;
      }
    }
    .bestmove-container, .score-container {
      display: inline-block;
      width: 45%;
    }
  }
  .controls {
    text-align: center;
    a {
      padding: 10px;
      font-size: 22px;
      cursor: pointer;
    }
  }
  .game-controls {
    text-align: center;
    margin-top: 2em;
    .control-button {
      text-decoration: none;
      margin: 0 -1px;
      font-size: 12px;
      border-radius: 2px;
      border: 1px solid #e2e2e2;
      padding: 6px 18px;
      color: #848484;
      background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
      cursor: pointer;
      font-weight: bold;
      text-shadow: rgb(255, 255, 255) 0px 1px 0px;
      &:hover {
        border-color: #e2e2e2;
        background: rgb(248, 248, 248);
        background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(243, 243, 243, 1)));
        background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
        background: -ms-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
        background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
      }
      &:active {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12) inset;
      }
    }
  }
}

