.video-chat {
    text-align: center;
    display: inline-block;
}

.video-box {
    margin: 0 10px;
}

.board-outter-container {
  width: 70%;
  margin: 0 auto;
  background-color: blue;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.chess-board {
  display: inline-block;
  width: 512px;
  margin: 0 auto;
}
