<div class="hero">
  <div class="container clearfix">
    <div class="value-prop">
      <h1>Yo, my name is Jack.</h1>
      <h3>I want to provide a platform that makes it easy for chess players all over the world to connect--making the game of chess more accessible than ever before.</h3>
      <a href="https://signalvnoise.com/posts/3771-jack-mallers-from-dropout-to-starter" target="_blank" class='button green'>
        You can read more about my story here →
      </a>
    </div>
    <div class="desktop screenshot">
      <img alt="Desktop-screenshot" src="/assets/images/marketing/me_focused.jpeg" width="100%">
    </div>
  </div>
</div>

<div id="main">
  <div class="container">
    <section>
      <h2>A platform for the chess player, built by a chess player</h2>
      <p>JacksChess was built by me, Jack Mallers. I've been playing chess for most of my 21 years. And for the last few years, I have been obsessed with finding a better way for us players to connect and learn the game. And since I couldn't find one, I decided to build one.</p>
      <br>
      <p>It has always frustrated me that the experience of sitting over a chess board is limited by physical distance. I couldn't have a pleasant learning experience with a GM from Russia because I am in Chicago. My former high school chess teammates and I couldn't show each other our recent games because everyone had gone off to college in different states. Yeah, I know about the ICC/chess.com/FICS/teamviewer/Skype/SomeWindowsSoftware hack, but c'mon there needed to be better way, a superior tool built to connect players and support the best chess-learning experience.</p>
      <br>
      <p>Out of that frustration and my enduring love for the game of chess, I made this tool and continue to work and build it.</p>
    </section>
    <section>
      <h2>How It Works</h2>
      <p>JacksChess is a platform that gives chess players all over the world the ability to connect while providing all the tools a chess player needs. Perfect for private lessons, reviewing with friends, reviewing with your opponents, etc. All in one browser screen.</p>
    </section>
    <section>
      <h2>Your opinion matters</h2>
      <p>I am building JacksChess to help every player in the world, so if you have any feedback, advice, ideas, etc. please do not be shy. <a href="mailto:jimmymowschess@gmail.com">Contact</a>. Let's build this amazing chess platform together.</p>
    </section>
  </div>
</div>
