<div class="login">
  <h1>Log in</h1>
  <p class="message">Your username or password was incorrect</p>
  <form {{action "login" on="submit"}} class='signup-form'>
    {{input value=username type="text" class="username" placeholder="User name" autofocus="autofocus" required="required"}}
    {{input value=password type="password" class="password" placeholder="Password" required="required"}}
    <input class="submit" type="submit" value="Log in">
  </form>
</div>

