<div class="login">
  <h1>Log in</h1>
  <form class='signup-form'>
    <input placeholder="User name" required="required" class="username" type="text">
    <input placeholder="Password" required="required" class="password" type="password">
    <input class="submit" type="submit" value="Log in">
  </form>
</div>

