<div class="signup">
  <h1>Sign up</h1>
  <form class='signup-form'>
    <input placeholder="User name" required="required" class="username" type="text">
    <input placeholder="Email" required="required" class="email" type="email">
    <input placeholder="Password" required="required" class="password" type="password">
    <input class="submit" type="submit" value="Sign up">
  </form>
</div>
