<nav class='homepage-nav'>
  <h2>{{#link-to 'home.marketing'}}jackschess.com{{/link-to}}</h2>
  <ul>
    {{#if session.isAuthenticated}}
      <li>{{#link-to 'user' session.user}}My profile{{/link-to}}</li>
    {{else}}
      <li>{{#link-to 'home.login'}}Log in{{/link-to}}</li>
      <li>{{#link-to 'home.signup'}}Sign up{{/link-to}}</li>
    {{/if}}
  </ul>

</nav>

{{outlet}}
