<nav class='homepage-nav'>
  <h2>{{#link-to 'home.marketing'}}jackschess.com{{/link-to}}</h2>

  <ul>
    <li>{{#link-to 'home.login'}}Log in{{/link-to}}</li>
    <li>{{#link-to 'home.signup'}}Sign up{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
